body{
    font-family: sans-serif, Arial;
    background: bisque;
    padding: 20px;
}

table{
    width: 80%;
    border-collapse: separate;
    border-spacing: 20px;
    margin: auto;
}

th{
    background: grey;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    border-radius: 8px;
}
td{
    background: #f0f0a5;
    color: #6378de;
    padding: 12px;
    text-align: center;
    border-radius: 6px;

}

tr:hover td{
   background:#5e5efb ;
}

.icon{
width: 16px;
height: 16px;
margin-left: 5px;
}